@model CategoryListModel

<div class="border border-dark p-3 mb-2">
    Şu anda Kategorisi <strong> @Model.Name  </strong> olan Blog'ları görüyorsunuz. 
    <a asp-action="Index" class="float-right">Filtreyi kaldır</a>
  </div>